html {
  --colorGreen: #198329;
  --colorBlack: #4a4949;
  --colorGray: #898080;
}

body {
  color: var(--colorBlack);
  font-family: monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header, .footer {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
  min-height: 55px;
  line-height: 55px;
  color: var(--colorGreen);
}

.header h1, .footer p {
  font-family: cursive;
  font-weight: 400;
  font-style: italic;
}

.header {
  text-align: start;
  border-bottom: 3px solid var(--colorGray);

  h1 {
    margin-left: 50px;
    font-size: 28px;
  }
}

.footer {
  text-align: end;
  border-top: 3px solid var(--colorGray);

  p {
    margin-right: 50px;
    font-size: 20px;
  }
}

.main {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.block {
  margin-right: 50px;
  min-width: 170px;

  .block__head {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & label input + span {
      font-size: 15px;
      font-weight: bold;
      color: var(--colorGreen);
      transition: all .2s linear;

      &:hover {
        color: var(--colorBlack);
      }
    }
  }

  ul li {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .block__list.opacity {
    opacity: .7;
  }

  .list__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    p {
      font-weight: bold;
      font-size: 16px;
    }

    span {
      color: var(--colorGreen);
      font-size: 15px;
      font-weight: 400;
    }
  }

  .item__list {
    display: flex;
    justify-content: space-between;
  }

  .item__checkbox label {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;

    input + span {
      font-weight: bold;
      color: var(--colorGreen);
      transition: all .2s linear;

      &:hover {
        color: var(--colorBlack);
      }
    }
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  
    .btn {
      font-size: 14px;
      border: none;
      background-color: inherit;
      color: var(--colorGreen);
      font-weight: bold;
      cursor: pointer;
      transition: all .2s linear;
    
      &:hover {
        color: var(--colorBlack);
      }
  
      &:focus, &:focus-visible {
        border: none;
        background-color: inherit
      }
    }
  }
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
  font-size: 15px;
  cursor: pointer;
  font-weight: 400;
  transition: all .2s linear;

  &:hover {
    color: var(--colorGreen);
  }
}

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
  color: var(--colorGreen);
  font-weight: bold;
}

input[type="range"] {
  --moz-appearance: none;
  width: 100%;
}

input[type="range"]::-moz-range-progress {
  background-color: var(--colorGreen);
}

input[type="range"]::-moz-range-track {
  background-color: var(--colorGray);
}

input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  background: white;
}

.game {
  min-width: 580px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--colorGray);
  font-size: 14px;

  ul {
    margin-top: 5px;
    margin-bottom: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

.canvas {
  border: 1px solid vat(--colorGray);
  box-shadow: 0 0 4px 1px #bdd7a9;
}

.walls {
  border: 3px solid var(--colorGray);
}

.info {
  min-width: 270px;
  margin-left: 50px;

  .result li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    p, span {
      font-weight: bold;
      font-size: 18px;
    }
  }

  .wins__head {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    h2 {
      margin-right: 40px;
      margin-bottom: 5px;
      font-size: 14px;
      cursor: pointer;
      transition: all .2s linear;

      &:hover {
        color: var(--colorGreen);
      }
    }

    button {
      margin-right: 10px;
      font-size: 13px;
      cursor: pointer;
      border: none;
      background: none;
      font-style: italic;
      color: var(--colorGray);
      transition: all .2s linear;

      &:hover {
        color: var(--colorGreen);
      }
    }
  }

  .wins__text {
    margin-bottom: 5px;
    color: var(--colorGray);
    font-size: 14px;
  }
}

.wins__table {
  th, td {
    text-align: center;
    padding: 0 7px;
    font-size: 14px;
  }

  th {
    padding-bottom: 3px;
  }

  tr td:nth-child(1),
  tr th:nth-child(1) {
    text-align: start;
    padding-left: 0;
  }
}

.invisible {
  display: none;
}

.bold {
  font-weight: bold;
}

.fix--width {
  max-width: 80px;
}